.panel{
    display: flex;
    min-height: 300px;
    flex-direction: row;
    position: fixed;
    bottom:50%;
    right: 0px;
    z-index: 999;
}
.expanded{
    position:relative; 
    background-color: #E5ECE9;
    width: 300px;
    height: 300px;
    transition: width 0.3s;
}

.collapsed {
    width: 0px;
    height: 300px;
    transition: width 0.1s ease-in-out; /* Transition effect */
    position:relative; 
    background-color: #E5ECE9;
}
  
.toggleBtn{
    position:absolute;
    width: 60px;
    height: 50px;
    top:50px;
    left: -60px;
    border-radius: 20px 0 0 20px;
    background-color: #E5ECE9;
    align-items: center;
    display: flex;
    justify-content: center;
}
.toggleBtn:hover{
    background-color: #E5ECFA;
    opacity: 0.8;
}
.rect{
    display: block;
    height: 30px;
    width: 100%;
    background-color: #505762;
}
.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E5ECE9;
}
.curStates-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px #888888;
    text-align: center;
}
.curStates{
    padding: 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.openCloseBtn{
    background-color: #4285F4;
    color: black;
    width: 100%;
    height: 40px;
    border-style: none;
    border-radius: 5px;    
}
.openCloseBtn:hover{
    background-color: #4285FF;
    opacity: 0.8;
}